<li>
  <div class="catagoryQuestions">
    <ul>
      {{#each catagory.questions as |question|}}
        <li>{{question-tile question=question}}</li>
      {{/each}}
    </ul>
  </div>
</li>
<!-- <button {{action 'delete' catagory}}>Delete</button> -->
