<li>
  <div class="questionAnswers">
    <h3>Answers to {{question.title}}:</h3>
    <ul>
      {{#each question.answers as |answer|}}
        <li>{{answer-tile answer=answer}}</li>
      {{/each}}
    </ul>
  </div>
</li>

<button {{action 'delete' question}}>Delete</button>
