<!-- {{catagory-detail update="update" catagory=model}} -->
<h1> Questions in {{model.name}} </h1>

{{catagory-tile catagory=model destroyCatagory="destroyCatagory"}}

{{new-question saveQuestion2="saveQuestion3" catagory=model}}
