<div class="jumbotron">
  <h1>Ask Anything </h1>
  <h3>Find answers to your questions . . . or questions to answer.</h3>
</div>

<h2> Current Questions </h2>

<ul>
  {{#each model.questions as |question|}}
    {{question-tile question=question}}
  {{/each}}
</ul>

<h2> Catagories </h2>

<ul class="indexList">
  <!-- {{#each model as |catagory|}}
     {{catagory-tile catagory=catagory update="update"}}
  {{/each}} -->
  {{#each model.catagories as |catagory|}}
    <li>{{#link-to 'catagory' catagory.id}}{{catagory.name}}{{/link-to}}</li>
  {{/each}}
</ul>

{{new-catagory saveCatagory2="saveCatagory3"}}
