<div class="jumbotron">
    <h3>Find answers to your questions . . . or questions to answer.</h3>
</div>

<div class="questions">
  <a href="#"><img src="http://michaelruguleiski.com/wp-content/uploads/2014/01/Kid-raising-hand.jpg" alt="" /></a>
  <h4>Questions</h4>
  <ul>
    {{#each model.catagories as |catagory|}}
      {{catagory-tile catagory=catagory}}
    {{/each}}
  </ul>
</div>
<hr>
<h2> Catagories </h2>
<br>
<ul>
<!-- <ul class="indexList">
  {{#each model as |catagory|}}
     {{catagory-tile catagory=catagory update="update"}}
  {{/each}} -->
  {{#each model.catagories as |catagory|}}
    <li>
      {{#link-to 'catagory' catagory.id}}
      {{catagory.name}}{{/link-to}}
    </li>
  {{/each}}
</ul>
<br>
{{new-catagory saveCatagory2="saveCatagory3"}}
